$('.new_post').remove();
$('.new_one').show();
$("<tr><td><%= raw @post.name %></td><td><%= raw @post.comment %></td><td><%= j link_to 'Show', @post %></td><td><%= j link_to 'Edit', edit_post_path(@post), :title => 'click to Edit', remote: true %></td><td><%= j link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td></tr>").appendTo($("table"));
